$black: #020203;
$calorie-item-visual-bg-pink: rgba(195, 6, 174, 0.1);
$calorie-item-visual-bg-blue: rgba(0, 0, 255, 0.1);
$calorie-item-visual-bg-yellow: rgba(252, 255, 0, 0.1);
$calorie-item-visual-bg-red: rgba(255, 0, 0, 0.1);
